**/node_modules/
**/dist/
.husky/
.vscode/
.github/
**/icons/**/*.ts
**/dynamicIconImports*
!**/dynamicIconImports.spec.*
!**/dynamicIconImports.stories.*
**/DynamicIllustration*
!**/DynamicIllustration.spec.*
!**/DynamicIllustration.stories.*
