name: Deploy Pages

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  HUSKY: 0

permissions:
  contents: write

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Generate documentation
        working-directory: ./docusaurus
        run: |
          pnpm install --frozen-lockfile
          pnpm build

      - name: Upload docs artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: ./docusaurus/build
          retention-days: 1

      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: ./docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
